body {
    background-color: #D47677 ;
    color: #aaa; 
}

#sign-in-box {
    background-color: #F0F0F0 ;
    margin: 0 auto;
    width: 500px;
   text-align: center;
}

.btn {
    background-color: #9DD8D4;
    color: white;
    border: solid #9DD8D4 10px;
    margin-top: 20px;
    width: 25%;
}


h1{
    text-align: center;
    color: #7E7E7E ;
    padding-top: 50px;
    font-size: 20px;
    margin-top: 40px;
}

#checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 12.5%;
    padding-bottom: 25px;

}

.spaces{
    margin: 10px;
}

input{
    border: solid  #aaa 1px;
}

.boxes{
    width: 70%;
    height: 30px;
    padding: 5px 20px;
}